---
import Intro from "./Intro.astro";
import Showcase from "./Showcase.astro";
import Contact from "./Contact.astro";
import Skills from "./Skills.astro";
import Footer from "./Footer.astro";
---

<section class="overflow-hidden relative">
  <div class="p-4 lg:p-8 lg:pb-24 max-w-7xl mx-auto relative mt-20 md:mt-0">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <Intro />
      <Showcase />
      <Contact />
      <Skills />
    </div>
    <br>
    <Footer />
  </div>
</section>
