<div id="contact" class="bg-blue-500 rounded-3xl p-8 flex flex-col items-center justify-center scroll-mt-24">
  <div>
    <div>
      <h2 class="text-2xl text-center tracking-tighter font-light lg:text-7xl text-white font-display">
        Get in touch!
      </h2>
    </div>
    <div>
      <p class="text-2xl text-white text-center mt-8 xl:text-xl">
        Reach out at any of my socials below or send me an e-mail directly!
      </p>
    </div>
    <div class="flex mt-4 pt-4 justify-center">
      <a
        href="mailto:mayurpatelthewebsite@gmail.co.uk"
        class="flex items-center justify-between transition-all
        rounded-xl border py-2 px-8 h-16 font-semibold text-xl
        bg-white text-gray-600 border-gray-300 
        focus:ring-2 focus:ring-black focus:ring-offset-2 ring-offset-gray-200 
        hover:bg-black hover:text-white duration-300">
        E-mail Me!
      </a>
    </div>
  </div>
</div>
