<div class="flex flex-col gap-2">
  <div id="hero" class="bg-orange-400 rounded-3xl p-8 text-white">
    <h1
      class="typewriter text-4xl tracking-tighter font-display font-normal text-blance
      md:text-8xl lg:text-6xl xl:text-6xl">
      Mayur Patel
    </h1>
    <p class="text-3xl mt-6 leading-6 font-display">Developer</p>
    <p class="text-m mt-4">I like to make things, mostly games. I enjoy Lego's, Bouldering, Japanese cuisine 
      and anything outer-space related.</p>
  </div>
 
  <div id="hero-welcome" class="bg-gray-200 rounded-3xl p-8 text-xl text-black">
    <h2 class="text-3xl mb-4 leading-6 font-display underline">Hi!</h2>
    <div>
      <p class="text-xl">
        Welcome to my little slice of the internet; it serves as a portfolio of my various projects.
      </p>
    </div>
    
    <h2 class="text-3xl mt-6 mb-4 leading-6 font-display underline">Latest News!</h2>
    <p class="text-xl">First footage of my latest racing game project 
      <a
      href="/allprojects#latest"
      class="text-m underline font-bold text-orange-400 hover:text-white"
      style="font-style: italic;"
      >here</a>!
    </p>
  </div>
</div>
